.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

### Java
*.class
.idea/modules.xml
.idea/*.iml
.idea/modules
*.idea


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/modules/sandbox_main.iml
.idea/gradle.xml
*.css
*.html
*.idx
*.bin
*.js
addressbook-web-tests/build/tmp/test/
addressbook-web-tests/build/tmp/testContacts/
*.log
